<%= form_for(@member, :html => { :multipart => true }) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% binding.pry %>
  <%= f.fields_for :posts do |builder| %>
    <p>
      <label>标题</label>
      <%= builder.text_field :title %>
      <label>内容</label>
      <%= builder.text_area :body %>
    </p>
    <div class="field">
      <%= builder.label :image %><br />
      <%= builder.file_field :image %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
